.main-tab {
    &__nav {
        list-style-type: none;
        padding: 33px 0 70px 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        user-select: none;
        color: #313131;
        li {
            margin: 0 32px;
        }
    }
    &__nav-item {
        display: inline-block;
        font-family: HelveticaNeueCyrBold, sans-serif;
        font-size: 34px;
        padding: 10px 5px 10px 5px;
        position: relative;
        background-origin: content-box;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        &:hover {
            cursor: pointer;
        }
        img {
            display: none;
            position: absolute;
            top: 16px;
            left: 7px;
        }
    }
    &__content {
        display: none;
        &_active {
            display: block;
        }
    }

    .main-tab__nav-item_active {
        color: transparent;
        img {
            display: block;
        }
    }
}

@media screen and (max-width : 1800px) {
    .main-tab {
        &__nav {
            margin: 0;
            padding-bottom: 30px;
            li {
                margin: 0 18px;
            }
        }
        &__nav-item {
            font-size: 24px;
            img {
                width: 90%;
                height: auto;
                top: 14px;
                left: 4px;
            }
            &:first-child {
                padding-left: 5px;
            }
        }
    }
}

//768
@media all and (max-width: 1200px) {
    .main-tab {
        &__nav {
            padding-bottom: 5px;
            margin: 0;
            li {
                margin: 0 6px;
                font-size: 17px;
                img {
                    width: 85%;
                    top: 13px;
                    left: 5px;
                }
            }
        }
    }
}

@media all and (max-width: 420px) {
    .main-tab {
        padding-bottom: 0;
    }
}