.our-clients {
    padding: 149px 0 60px 0;
    &__title {
        color: #848484;
        font-family: HelveticaNeueCyrBold, sans-serif;
        font-size: 40px;
        text-align: center;
        margin: 0 0 55px 0;
    }
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 92%;
        margin: 0 auto;
        align-items: center;
        div {
            width: calc(~'100%/5');
            min-width: 185px;
            text-align: center;
            margin: 90px 0 90px 0;
            //transform: scale(0.7);
        }
        img {
            display: inline;
            vertical-align: middle;
        }
    }
}

@media all and (max-width : 1800px) {
    .our-clients {
        padding-top: 75px;
        &__title {
            font-size: 30px;
        }
        &__list {
            width: auto;
            margin: -215px -13%;
            transform: scale(0.7);
            div {
                //transform: scale(0.7);
                margin: 95px 0 95px 0;
            }
        }
    }
}

//@media  all and (max-width: 1280px) {
//    .our-clients {
//        &__list {
//            width: 100%;
//            transform: scale(0.45);
//            //margin: -165px auto;
//            margin: -215px -13%;
//            div {
//                min-width: 0;
//                margin: 95px 0 95px 0;
//                //transform: scale(0.45);
//            }
//            //img {
//            //    width: 53%;
//            //}
//        }
//    }
//}


//768
@media all and (max-width: 1200px) {
    .our-clients {
        width: auto;
        padding-top: 0;
        padding-bottom: 68px;
        margin: 0;
        &__title {
            font-size: 20px;
            margin: 0 0 20px 0;
            color: #3C3C3C;
        }
        &__list {
            margin: -268px -64%;
            width: auto;
            transform: scale(0.45);
            div {
                margin: 50px 0 50px 0;
            }
        }
    }
}


@media all and (max-width: 480px) {
    .our-clients {
        padding-bottom: 20px;
        &__title {
            font-size: 20px;
            margin: 0 0 20px 0;
            color: #3C3C3C;
        }
        &__list {
            margin: -440px -64%;
            div {
                width: calc(100%/3);
                min-width: 0;
            }
        }
    }
}