.services {
    width: 53.5%;
    padding: 60px 0 70px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__logo {
        min-width: 210px;
        max-width: 367px;
        margin-right: 40px;
        .sm {
            display: none;
        }
        .md {
            width: 100%;
            display: block;
        }
    }
    &__items {
        display: flex;
        list-style-type: none;
        width: calc(~"100% - 410px");
        justify-content: space-between;
        flex-wrap: wrap;
        ul {
            list-style-type: none;
            padding: 0;
            margin: -13px 0 20px 0;
            line-height: 1.95;
        }
        li {
            font-family: HelveticaNeueCyrMedium, sans-serif;
            font-size: 26px;
            color: #464646;
        }
    }
}


@media all and (max-width : 1800px) {
    .services {
        padding-top: 40px;
        &__logo {
            img {
                width: 90%;
            }
        }
        &__items {
            font-size: 17px;
            width: 65%;
            li {
                font-size: 17px;
            }
        }

        &_branding {
        }
        &_digital {
        }
        &_strategy {
        }
        &_creative {
        }
        &_academy {
        }
    }
}

@media all and (max-width: 1200px) {
    .services {
        &__items  {
            align-self: self-start;
        }
    }
}


//768
@media all and (max-width: 1200px) {
    .services {
        width: 90%;
        padding: 33px 0 24px 0;
        &__item {
            line-height: 1.3;
            font-size: 13px;
        }

        &__items {
            min-width: 36%;
            //width: auto;
            width: 25%;
            margin: 0 auto;
            li {
                font-family: HelveticaNeueCyrRoman,sans-serif;
                font-size: 13px;
            }
        }

        &__list {
            font-size: 13px;
        }
        .services__items_digital {
            margin: 0;
        }
        .services__list_digital {
            width: auto;
            margin: 0;
        }
        &__logo {
            margin: 0;
            width: calc(60% - 20px);
            max-width: none;
            max-height: none;
            text-align: center;
            padding-right: 25px;
            align-self: center;
            img {
                max-width: 180px;
                margin: 0 auto 20px auto;
            }
            .md {
                display: none;
            }

            .sm {
                width: 100%;
                max-width: 290px;
                display: block;
                margin: 0 auto 20px auto;
            }
        }
    }
}

@media all and (max-width: 480px) {
    .services {
        flex-wrap: wrap;
        justify-content: center;
        &__logo {
            width: 100%;
            padding: 0;
            .sm {
                margin-bottom: 38px;
            }
        }
        &__items {
            width: 100%;
            li {
                font-size: 13px;
            }
        }
        .services-item {
            width: 100%;
        }
        .services__items {
            margin-left: 35px;
        }
    }
}

