.social-adv-collection {
  width: 77%;
  margin-bottom: 92px;
  display: flex;
  justify-content: space-between;
  &__list {
    //height: 100%;
    padding: 21px 0 0 25px;
    margin: 0;
    border-left: 1px solid #ededed;
    list-style-type: none;
    li {
      margin: 11.5px 0 11.5px 0;
      font-family: HelveticaNeueCyrRoman, sans-serif;
      font-size: 16px;
      color: #2a2a2a;
    }
  }

  &__item_vk {
    img {
      margin-top: -26px;
      margin-left: 14px;
    }
  }

  &__item_my {
    img {
      margin-top: -17px;
    }
  }
}

@media all and (max-width: 1800px) {
  .social-adv-collection {
    margin-bottom: 113px;
  }
}

@media all and (max-width: 1200px) {
  .social-adv-collection {
    width: 89%;
    margin: 0 auto 5px auto;
    &__logo {
      transform: scale(0.8);
    }
    &__list {
      li {
        font-size: 13px;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .social-adv-collection {
    flex-wrap: wrap;
    &__item {
      width: calc(~'100% / 2');
      margin-bottom: 25px;
    }
    &__item_vk {
      img {
        margin-top: -9px;
      }
    }
  }
}